/* style.css */
@import url('components/_variables.css');
@import url('components/_core.css');
@import url('components/_header.css');
@import url('components/_hero.css');
@import url('components/_slots-showcase.css');
@import url('components/_advantages.css');
@import url('components/_promo-box.css');
@import url('components/_promo-slider.css');
@import url('components/_popular-slots.css');
@import url('components/_fairness.css');
@import url('components/_live.css');
@import url('components/_bonuses.css');
@import url('components/_reviews.css');
@import url('components/_providers.css');
@import url('components/_faq.css');
@import url('components/_footer.css');